
<div class="navbar navbar-icon-top fixed-topA navbar-expand-md navbar-dark mb-0 container" role="navigation" >
    <a class="navbar-brand mb-0" href="#"><span><img src="{{URL}}/resources/imagens/logoSiscaps.png" class="mb-0"  height="45" alt="SISCAPS" style="border-radius:10px"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

				{{links}}
				
				{{dropdownProducao}}
				{{dropdownRelatorio}}
				
		<li class="nav-item">
        <a class="nav-link" href="#">
          <i class="far fa-envelope">
            <span class="badge badge-danger">11</span>
          </i>
        </a>
      </li>

        </ul>
			<div class="d-flex justify-content-end" style="width: 50px;">
				<a href="{{URL}}/{{logout}}/logout">
					<button type="button" class="btn btn-sm">
						<img src="{{URL}}/resources/imagens/logout.png" height="25" alt="Sair" title="Encerrar Sessão">
					</button>
				</a>
			</div>
    </div>
</div>


